.auth__question {
	margin: 15px 0 0 0;
	padding: 0;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	font-family: 'Inter', Arial, sans-serif;
}

@media (max-width: 410px) {
	.auth__question {
			margin: 20px 0 0 0;
	}
}