.footer {
  max-width: 880px;
  margin: 0 auto;
  padding-bottom: 60px;
}

@media (max-width: 920px) {
  .footer {
    max-width: 584px;
    padding-bottom: 36px;
  }
}

@media (max-width: 630px) {
  .footer {
    max-width: 282px;
  }
}

@media (max-width: 410px) {
  .footer {
    margin-top: 80px;
  }
}
