.notfound__text {
	font-size: 40px;
	font-weight: 800;
	line-height: 50px;
	color: #fff;
}

@media (max-width: 767px) {
	.notfound__text {
		font-size: 35px;
		line-height: 45px;
	}
}

@media (max-width: 410px) {
	.notfound__text {
		font-size: 30px;
		line-height: 40px;
	}
}