.popup__container-confirm {
  padding: 34px 36px 37px;
  width: 430px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media (max-width: 630px) {
  .popup__container-confirm {
    width: 282px;
    padding: 25px 22px;
  }
}
