.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transform: perspective(600px) translateY(-50%) rotateX(60deg);
  transition: all .8s ease;
}
